<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838665250210-24ue9oauifojh51fmbccniovvrl9b6tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838665250210-24ue9oauifojh51fmbccniovvrl9b6tp</string>
	<key>API_KEY</key>
	<string>AIzaSyCAqJ1O_qo6ldR9YBH98mtT3on86lYzTjc</string>
	<key>GCM_SENDER_ID</key>
	<string>838665250210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningDart</string>
	<key>PROJECT_ID</key>
	<string>note-app-with-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-with-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838665250210:ios:64bbaa129d9a502eb3fefb</string>
</dict>
</plist>